/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v20-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v20-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'icons';
    src: url('../fonts/icons.woff?y6s712') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-csv:before {
    content: "\e900";
  }
  .icon-search:before {
    content: "\e901";
  }
  .icon-pdf:before {
    content: "\e902";
  }
  .icon-download:before {
    content: "\e903";
  }
  .icon-play:before {
    content: "\e904";
  }
  .icon-down:before {
    content: "\f0d7";
  }
  .icon-cloud:before {
    content: "\e905";
  }
  
  
  html, body {
    height: 100%;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  
  body {
    font: 14px/1.4 "Lato", sans-serif;
    /* font-size, line-height, font-family */
  }
  * {
    box-sizing: border-box;
  }
  
  a {
    color:#ED4C5C;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }